:root{
    --color-principal: blue;
    --ancho-principal: 350px;
}

.titulo{
    color:var(--color-principal);
}

.footer{
    color:var(--color-principal);
}

.contenedor {
    background-color:antiquewhite;
    padding:3rem;
    max-width: var(--ancho-principal);
}