@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300');
html {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 400;
    font-style: italic;
}